/deep/ .repeat-custom-modal { width: 320px; }
.modal-content{
    background: #fff;
    .modal-header{
        background: #fff;
        .close{
            background: #fff;
            border-left: none;
            color: #a4a4a4;
        }
    }
}
.checklist{
    display: flex;
    align-content: center;
    justify-content: space-between;
    .checkbox-box{
        label{
            border: 1px solid #d8d5d5;
            padding-top: 4px;
            border-radius: 50%;
            color: #a4a4a4;
            width: 25px;
            height: 25px;
            text-align: center;
        }
        input{
            opacity: 0;
            position: absolute;
            margin-left: 5px;
            margin-top: 4px;
            width: 17px;
            height: 20px;
        }
        .select:checked ~ label{
            background: #1c84c6;
            color: #fff;
            border: 1px solid #1c84c6;
        }
    }
}
.month-repeat{
    color: #358fcb;
    padding: 9px 0 6px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}
mat-radio-group{
    display: flex;
}
.gray-text{
    color: #a4a4a4;
    margin-top: 12px
}