<form #frm="ngForm" (ngSubmit)="setRecur()" class="form-horizontal form-material">  
  <select 
    [(ngModel)]="recurModel.recurring"
    (change)="onSelectingRecurring()"
    class="form-control" name="recurring">
    <option
    *ngFor="let recur of recurring"
    [value]='recur.id'>{{recur.value}}</option>
  </select>

  <!-- Mass Modal begins -->
  <bs-modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="recurModalClosed()" (onDismiss)="recurModalDismissed()" cssClass="repeat-custom-modal" #recurModal>    
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Custom Recurrence</h4>        
    </bs-modal-header>
    <bs-modal-body>    
      <div class="row form-group">
        <div class="col-sm-12">
          Shift
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6">
          <input             
          [(ngModel)]="recurModel.interval"
          (change)="setFrequency()"
          name="interval" type="number" min="1" class="form-control">
        </div>
        <div class="col-sm-6">
          <select 
          [(ngModel)]="recurModel.freq"
          name="freq" class="form-control" (change)="onSelectingFrequency($event.target.value)">
            <option
            *ngFor="let freq of frequency"
            [value]='freq.id'>{{freq.value}}</option>
          </select>
        </div>
      </div>    
      
      <ng-container *ngIf="repeatOn">
        <div class="row form-group">
          <div class="col-sm-12">Repeat on</div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12 checklist">
            <div class="checkbox-box">
                <input type="checkbox" class="select" (click)="onWeeklyRepeat($event.target.checked, 'SU')" value="SU" name="byweekday[]">
              <label for="byweekday[]">S</label>
            </div>
            <div class="checkbox-box">
              <input type="checkbox" class="select" (click)="onWeeklyRepeat($event.target.checked, 'MO')" value="MO" name="byweekday[]">
              <label for="byweekday[]">M</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="select" (click)="onWeeklyRepeat($event.target.checked, 'TU')" value="TU" name="byweekday[]">
              <label for="byweekday[]">T</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="select" (click)="onWeeklyRepeat($event.target.checked, 'WE')" value="WE" name="byweekday[]">
              <label for="byweekday[]">W</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="select" (click)="onWeeklyRepeat($event.target.checked, 'TH')" value="TH" name="byweekday[]">
              <label for="byweekday[]">T</label>
            </div>
            <div class="checkbox-box">
              <input type="checkbox" class="select" (click)="onWeeklyRepeat($event.target.checked, 'FR')" value="FR" name="byweekday[]">
              <label for="byweekday[]">F</label>
            </div>
            <div class="checkbox-box">
              <input type="checkbox" class="select" (click)="onWeeklyRepeat($event.target.checked, 'SA')" value="SA" name="byweekday[]">
              <label for="byweekday[]">S</label>
            </div>
            <!-- Sun <input type="checkbox" (click)="onWeeklyRepeat($event.target.checked, 'SU')" value="SU" name="byweekday[]">
            &nbsp; Mon <input type="checkbox" (click)="onWeeklyRepeat($event.target.checked, 'MO')" value="MO" name="byweekday[]">
            &nbsp; Tue 
            &nbsp; Wed <input type="checkbox" (click)="onWeeklyRepeat($event.target.checked, 'WE')" value="WE" name="byweekday[]">
            &nbsp; Thu <input type="checkbox" (click)="onWeeklyRepeat($event.target.checked, 'TH')" value="TH" name="byweekday[]">
            &nbsp; Fri <input type="checkbox" (click)="onWeeklyRepeat($event.target.checked, 'FR')" value="FR" name="byweekday[]">
            &nbsp; Sat <input type="checkbox" (click)="onWeeklyRepeat($event.target.checked, 'SA')" value="SA" name="byweekday[]"> -->
          </div>
        </div>
      </ng-container>
      
      
      <ng-container *ngIf="repeatOnMonthly">      
        <div class="row form-group">
          <div class="col-sm-12">
            <span class="month-repeat">{{ monthlyRepeatMessage }}</span>          
          </div>
        </div>
      </ng-container>

      <div class="row form-group">
        <div class="col-sm-12">Ends</div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
          <mat-radio-group [(ngModel)]="recurModel.ends" name="ends" (change)="endsField = $event.value">
            <mat-radio-button style="margin-right:25px" *ngFor="let opt of endsOptions" [value]="opt.value">
              {{opt.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <ng-container *ngIf="endsField!='never'">
        <div class="row form-group">
          <ng-container *ngIf="endsField=='on'">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput [min]="date" (keydown)="keydown()" [(ngModel)]="recurModel.end_date" name="end_date" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
          </ng-container>

          <ng-container *ngIf="endsField=='after'">
            <div class="col-sm-6">
              <input 
              [(ngModel)]="recurModel.occurrences"
              name="occurrences"
              type="number" [disabled]='endsField!="after"' min="1" class="form-control">
            </div>
            <div class="col-sm-6 gray-text">
              Occurrences
            </div>
          </ng-container>
        </div>
      </ng-container>
      
    </bs-modal-body>
    <bs-modal-footer>
      <div class="form-group save_btns">
        <div class="col-sm-12" style="text-align: right;">            
          <button type="submit" class="btn" (click)="recurModal.close()">
              <div class="vertical-align">
                  <div><mat-icon>done</mat-icon></div>
                  <div>Done</div>
              </div>
          </button>
        </div>
      </div>      
    </bs-modal-footer>
  </bs-modal> 
</form>